html {
	/*I still do not understand what is the benefit. I see that when boxing is applied,the .content moves within the 
	height of the content, otherwise when toggling the padding of the .links the borders will go beyond...

	Course explanation: The border-box is useful to have on many elements as it can force margin and padding
	to cut into the width and height of an area rather than expanding it.*/
  box-sizing: border-box;
  /*webkit font will help the pixeled fonts look smoother and nicer. that is what i understand*/
  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
/*Typography Criteria for the entire page, that is why it is placed in 'Body tag'*/
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	color: #838994;
	letter-spacing: 0.03em;
/*Debuging criteria*/
	background-color: gray ;
}
/*debuging criteria*/
div {
	border: .1rem solid chocolate;
}
/*Navegation section*/

.top-navegation {
	position: fixed ;
	width: 100%;
	border-bottom: .09em solid #ddd ;
	background-color: #fff;
	/*animation width -->I have not figure it out yet!??*/
}
/*REVIEW FOR FURTHER SECTION, .CONTENT MAY APPLY FOR THE ENTIRE PAGE*/
.top-navegation .content {
	width: 60% ;
	height: 4.5rem ;
	margin: 0 auto;
	padding: 0 1rem;

}
.top-navegation .logo {
	height: 4rem;
}
.top-navegation .links {
	list-style-type: none ;
	text-align: center;
	float: right;
	margin-top: 1.7rem;
}
.top-navegation .links li {
	display: inline-block;
	margin-left: 1.56rem ;
	
}
.top-navegation .links li:hover {
	cursor: pointer;
	color: #333333;
	
}
.top-navegation .links> .active {
	color: #4c5058 ;
	font-weight: 500 ;
}

/*Introduction section*/

.introduction {
	background-image: url('../images/background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover ;
	height: 37rem;
}
.introduction .content {
	width: 60% ;
	height: 4.5rem ;
	margin: 0 auto;
	padding: 0 1rem;
}
.introduction h1 {
	margin-top: 17rem ;
	font-size: 3rem ;
}
.introduction h1, .introduction h3 {
	color: white;
	text-align: center ;
	font-weight: 300 ;
	margin-bottom: 0 ;
}
.introduction h3 {
	font-size: 1.5rem;
	margin-top: .5rem;
}
.introduction button {
	width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    color: white ;
    display: block;
    margin: 2rem auto;
}
.introduction button:hover {
	background-color: #f15a84;
}